.products {
  padding: 30px 50px;
  display: flex;

  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;

    .filterItem {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      h2 {
        font-weight: 400;
        margin-bottom: 30px;
      }

      .inputItem {
        margin-bottom: 10px;
        width: fit-content;
        display: block;

        label {
          margin-left: 10px;
        }

        .applyPriceBtn {
          width: fit-content;
          margin: 0 auto;
          padding: 8px;
          background-color: #29467e;
          color: white;
          border-radius: 5px;
          cursor: pointer;
        }

        .applyPriceBtn:active {
          background-color: white;
          color:black;
          border: 1px solid black;
        }
      }
    }
  }

  .right {
    flex: 3;

    .catImg {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
  }
}
